.finance-page{
    .finance-title{
        text-align: center;
        .finance-title-text{
            font-size:25px;
            letter-spacing: 3px;
            margin-right: 12px;
        }
    }

    .ant-rate-star{
        width: 1px;
        svg{
            width:8px;
            height:8px;
        }
    }
}
.global-search-wrapper{
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .global-search{
        width:80%;
    }
  }