// .ant-card-extra{
//     margin-left: 0px;
//     .page-title{
//         text-align: center;
//         .page-title-text{
//             font-size:25px;
//             letter-spacing: 3px;
//             margin-right: 12px;
//         }
//     }
// }

// .ant-card-head-wrapper{

//     .ant-card-head-title{
//         flex:0.5;
//         padding: 0px;
//         .global-search-wrapper{
//             width: 50%;
//             display: flex;
//             justify-content: space-between;
//             align-items: center;
//             .global-search{
//                 width:100%;
//                 padding-right: 20px;
//                 }
//             }
//         }
//     .ant-card-extra {
//         padding: 10px;
//     }
// }




.finance-page{
    .ant-card-head-wrapper{
        .ant-card-head-title{
            flex:1 !important;
            padding: 0px;
            .page-title{
                text-align: center;
            }
            .page-title-text{
                font-size:25px;
                letter-spacing: 3px;
            }
        }
    }
}

.global-search-wrapper{
    width: 46%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 12px;
    .global-search{
        width:100%;
        padding-right: 20px;
        }
    .radio-group{
        display: flex;
        align-items: bottom;
        height: 10px;
        margin-left: 10px;
    }        
}

.add-firm-btn{
    font-size: 13px;
    padding:0;
    span {
        margin: 0px !important;
    }
}

.select-bar{
    width: 100%;
    margin-top: 12px;
    margin-bottom: 20px;
}

