.inner-table-grid{
  min-height: 405px;
  .inner-table{
    margin: 0px !important;
    .ant-table-container::after{
      box-shadow: none !important; 
    }
    .ant-table-container::before{
      box-shadow: none !important; 
    }
    .ant-table-content{
      .ant-table-tbody{
        tr{
          td{
            min-width: 140px;
          }
        }
        tr:last-child{
          td{
            border-bottom: 1px solid #3632320c;
          }
        }
      }
    }
  }
}


.factor-validate-table{
  .ant-table-content{
    min-height: 543px;
    thead{
      tr{
        background: #fafafa;
      }
    }
  }
}


.corr-table{
  .ant-table-content{
    min-height: 429px;
    thead{
      background: #fafafa;
    }
    tr{
      td:first-child{
        background: #fafafa;
        font-weight: bold;
        width:100px;
      }
      td:last-child{
        color:transparent;
      }
    }
    tr:hover{
      td:last-child{
        color:red;
      }
    }
  }
}


.factor-weight-list{
  .ant-row{
    .ant-col{
      .ant-list-item{
        .ant-list-item-action{
         float: left;
         margin-left: -10px;
        }
      }
    }
  }
}