.tree-content{
  .tree-title{
    .closeIcon{
      padding-left: 20px;
      color:transparent;
    }
  }
  .tree-title:hover{
    .closeIcon{
      color: red;
    }
  }
}


.inner-table-grid{
  min-height: 200px;
  width:18%;
  min-width: 15%;
  padding:0px;
  .inner-table{
    margin: 0px !important;
    .ant-table-container::after{
      box-shadow: none !important; 
    }
    .ant-table-container::before{
      box-shadow: none !important; 
    }
    .ant-table-container{
      .ant-table-content{
          thead{
            tr{
              th{
                padding:5px 16px 0px 16px;
              }
            }
          }

        .ant-table-tbody{
          tr{
            td:first-child{
              border-left: 2px solid #fafafa;
              padding: 4px 0px 4px 16px;
            }
            td:last-child{
              width: 20px;
              padding:4px 0px 4px 16px;
              color:transparent;
            }
          }
          tr:hover{
            td:last-child{
              color:red;
            }
          }

          tr:last-child{
            td{
              border-bottom: 1px solid #3632320c;
            }
          }
        }
      }
    }
    .ant-table-footer{
      padding: 1px 11px;
      button{
        padding: 0px 5px;
        border: none;
        color:#1890ff;
        background: #fafafa;
      }
    }
  }
}




.factor-validate-table{
  .ant-table-content{
    min-height: 543px;
    thead{
      tr{
        background: #fafafa;
      }
    }
  }
}


.corr-table{
  .ant-table-content{
    min-height: 429px;
    thead{
      background: #fafafa;
    }
    tr{
      td:first-child{
        background: #fafafa;
        font-weight: bold;
        width:100px;
      }
      td:last-child{
        color:transparent;
      }
    }
    tr:hover{
      td:last-child{
        color:red;
      }
    }
  }
}


.factor-weight-list{
  .ant-row{
    .ant-col{
      .ant-list-item{
        .ant-list-item-action{
         float: left;
         margin-left: -10px;
        }
      }
    }
  }
}



.modal-content{
  .left-card{
    flex:0.8;
    .ant-card-head{
      min-height: 24px;
      .ant-card-head-wrapper{
        display: block;
        .ant-card-head-title{
          padding: 0px;
        }
      }
    }
  }
  .right-card{
    flex:0.8;
    .ant-card-head{
      min-height: 24px;
      .ant-card-head-wrapper{
        display: block;
        .ant-card-head-title{
          padding: 0px;
        }
      }
    }
    .right-tree{
      .ant-tree-list{
        .ant-tree-treenode{
          .ant-tree-node-content-wrapper{
            padding:0px;
          .ant-tree-title{
            .right-input{
              border:0px;
            }
            .right-input:focus{
              border:1px solid #40a9ff;
            }
          }
        }
      }
    }
  }
}
}